::ng-deep .mdc-line-ripple::after{
  border-bottom-color: #f44336 !important;
}

::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label{
  color: #f44336 !important;
}

::ng-deep .mat-ink-bar{
  color: #f44336 !important;
  background-color: #f44336 !important;
}

::ng-deep.mat-tab-labels{
  height: 30px !important;
}

::ng-deep.mat-tab-label{
  min-height: 30px;
  max-height: 30px;
}
